*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body{
    height: 100wh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(240deg,pink,lavenderBlush);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.player-wrapper{
    padding: 15px;
    background: linear-gradient(240deg,paleVioletRed, peachPuff);
    border-radius: 25px;
}
.player{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    width: auto;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    border: 4px solid brown;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cover{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}
#title{
    padding-top: 20px;
    font-family: "bonheur Royale";
    font-size: 40px;
    background: linear-gradient(rgb(211, 204, 204), black);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
#artist{
    font-family: "beau rivage";
    font-weight:500;
    letter-spacing: 1px;
    font-size: 20px;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.controls button{
    font-size: 24px;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;
    width: 50px;
    height: 50px;
}
.controls button:hover{
    transform: scale(1.2);
    background:transparent;
    color:darkslategray ;
}
.progress{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
#progress {
    width: 80%;
    accent-color:beige;
    height: 6px;
    border-radius: 5px;
    cursor: pointer;
}
.cd-wrapper{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    animation: spin 6s linear infinite;
    background: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}
.cd{
    width: 70%;
    height: 70%;
    border-radius: 50%;
    object-fit: cover;
}
.cd-wrapper::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background: mistyrose;
    border-radius: 50%;

}
@keyframes spin{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
#play
{
    width: 65px;
    height: 65px;
    font-size: 26px;
}
.volume{
    position: absolute;
    bottom: 70px;
    right: 40px;
    display:none;
}
.volume input{
    writing-mode: bt-lr;
    -webkit-appearance: slider-vertical;
    width: 5px;
    height: 100px;
    accent-color: beige;
}